<section class="vh-100 bg-image" style="background-image: url('https://thumbs.dreamstime.com/z/pile-books-magnifying-glass-neutral-background-concept-search-information-105222790.jpg');"
    class="image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Search Books</h2>



                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example1cg"
                                    placeholder="eg: Biography, Adventure, Fiction etc" [(ngModel)]=book.category
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example1cg">Category</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="Author Name" id="form3Example3cg" [(ngModel)]=book.authorName
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg">Author Name</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="Price" id="form3Example3cg" [(ngModel)]=book.price
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg">Price</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="Publisher" id="form3Example3cg" [(ngModel)]=book.publisher
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg">Publisher</label>
                            </div>








                            <div class="d-flex justify-content-center">
                                <button type="button"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                    (click)="searchBooks(book.category,book.authorName,book.price,book.publisher) ">Search</button>
                            </div>






                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>















<br>
<br>

<h2>Search Results</h2>
<table class="table table-dark table-striped-columns">

    <thead>
        <tr>
            <th>Book id</th>
            <th>Title</th>
            <th>category</th>
            <th>image</th>
            <th>price</th>
            <th>publisher</th>
            <th>active</th>
            <th>content</th>
            <th>Actions</th>


        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.category}}</td>
            <td>{{book.image}}</td>
            <td>{{book.price}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.active}}</td>
            <td>{{book.content}}</td>
            <td><button (click)="addToCart(book.id)">Add to Cart</button></td>
        </tr>
    </tbody>

</table>