<h1 style="text-align: center;">Search Books</h1>

<div class="input-group">
    <span class="input-group-text">Category</span>
    <input type="text"  placeholder="eg: Biography, Adventure, Fiction etc" [(ngModel)]=book.category  aria-label="First name"
        class="form-control">

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Author</span>
    <input type="text"   aria-label="First name"
        class="form-control">

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Price</span>
    <input type="text" [(ngModel)]=book.price  aria-label="First name"
        class="form-control">

</div>

<br>
<div class="input-group">
    <span class="input-group-text">Publisher</span>
    <input type="text"  [(ngModel)]=book.publisher aria-label="Publisher name" 
        class="form-control">
    </div>




<br>
<button class="btn btn-primary" (click)="search()" >Search</button>
