<div class="container">
    <div class="card">
        <div class="card-header">
          About eBookStore
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="font">The Online Books Page is a website that facilitates access to books that are freely readable over the Internet. It also aims to encourage the development of such online books, for the benefit and edification of all.
                Major parts of the site include:
                
                An index of over three million online books freely readable on the Internet
                Pointers to significant directories and archives of online texts
                Special exhibits of particularly interesting classes of online books
                Information on how readers can help support the growth of online books.
                An eBook (or Electronic Book) is a version of a printed book in digital format.
                They are cheaper and quicker to publish and therefore provide a more convenient way to circulate literature.
                During the 1970s the Internet provided a huge step forward for sharing digital texts and making them available on screen and ready to download. By the end of the 1990s, publishers started to provide digital versions alongside their printed counterparts. EBooks are typically read using an e-reader, such as the popular Kindle, although most digital devices can read EPUBs, the most common format used today. Some devices even allow you to listen to the spoken word and read at the same time. There are plenty of free eBooks available in the public domain, from sites such as Gutenberg and although not likely to replace printed books in the near future, eBooks and audio books are changing the way we consume literature. Digitalbook.io aims to facilitate this by bringing together the best digital books from all the top online sources.</p>
            <footer class="blockquote-footer"> <cite title="Contact Us">Digital Books Store
                India, 142 street
                Tel. 93 237 55 64
                Opening hours:
                Monday to Thursday: 9am – 6pm – Friday: 9am – 3pm</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    